<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yazılım Yolculuğum</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/favicon.jpg" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        ul.nav.nav-tabs {
            margin: 10px 0px;
        }

            ul.nav.nav-tabs li:not(.active) a {
                background-color: #eeeeee;
                color: grey;
            }

            ul.nav.nav-tabs li.active a {
                border-top: 3px solid #16a765;
            }

        .footer {
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 50px;
            padding: 15px;
            background-color: #222;
            border-color: #080808;
            color: #ccc;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/favicon.jpg" style="height:48px; border-radius:20%;" />
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yazılım Yolculuğum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Hakkımda", "About", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li><a href="~/Customer">Notlarım</a></li>
                    <li><a href="~/Employee">Employee</a></li>
                </ul>
                <div class="form-inline my-2 my-lg-0" style="float:right;">
                    <h5 class="form-control mr-sm-2">Hoşgeldiniz, <strong>@Session["userName"].ToString()</strong> </h5>
                    <a style="color: #ccc;" class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("LogOut","Login")">Çıkış Yapın</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Designed MustafaÇ.</p>
    </footer>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Scripts.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
</body>
</html>
